/* Default CSS */
body, p {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, a, span, label {
    font-family: 'Rubik', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}
a {
    transition: .5s ease-in-out;
}



/* Colors */
.text-black {
    color: black;
}
.color-it {
    color: #E73C3E;
}
.bg-off {
    background-color: #F9FAFB;
}
.bg-white {
    background-color: white;
}
.bg-sign {
    background: #E73C3E;
}



/* btn-primary */
.btn-primary {
    color: white;
    background: #E73C3E !important;
    border: none;
    padding: 12px 36px;
    position: relative;
    z-index: 1;
}
.btn-primary::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: black;
    border-radius: 4px;
    z-index: -1;
    transition: .3s;
}
.btn-primary:hover::after {
    width: 100%;
}



/* Header */
.header {
    background: white;
}
ul.header-menu li a {
    display: inline-block;
    padding: 8px 16px;
    color: black;
    font-weight: 500;
}
ul.header-menu li a:hover {
    color: #E73C3E;
}
ul.header-menu li ul li a {
    transition: .5s ease-in-out;
}
ul.header-menu li ul li a:hover {
    color: #E73C3E;
    letter-spacing: 1.2px;
}

.header-search span {
    border-right: 2px solid #ddd;
}

.header-call-info {
    width: 195px;
}



/* DropDown Menu */
ul.header-menu li {
    position: relative;
}
ul.header-menu li ul {
    position: absolute;
    width: 208px;
    left: 0;
    top: 200%;
    padding: 0;
    opacity: 0;
    background: white;
    visibility: hidden;
    transition: all .6s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    z-index: 18;
}
ul.header-menu li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 120%;
}
ul.header-menu li ul li {
    padding: 10px;
}



/* Banner */
.banner {
    background: url(https://templates.envytheme.com/finix/default/assets/img/main-banner2.jpg) no-repeat fixed center;
}
.banner-content-wrap {
    height: 90vh;
}
.banner-social {
    left: 0;
    bottom: 0;
}
.banner-social a {
    display: inline-block;
    padding: 0px 10px;
}
.banner-social i:hover {
    color: #E73C3E !important;
}



/* Partner */
.partner {
    border-bottom: 1px solid #ddd;
}



/* About */
.about-img-text-wrap {
    bottom: 0;
    right: -8%;
    background: url(https://templates.envytheme.com/finix/default/assets/img/about/shape.png) no-repeat center center;
    height: 200px;
    width: 200px;
    background-size: contain;
}



/* Transparent Process */
.tpi-item {
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.tpi-item::before {
    content: "";
    position: absolute;
    top: -175px;
    left: 0;
    right: 0;
    margin: auto;
    width: 96%;
    height: 80%;
    border-radius: 50%;
    background-color: #FDEBEB;
}
.mt-m-4 {
    margin-top: -24px;
}


.tpi-icon i {
    background: white;
    height: 85px;
    width: 85px;
    line-height: 85px;
    border-radius: 50%;
    position: relative;
    transition: .5s;
}
.tpi-item:hover .tpi-icon i {
    background: #E73C3E;
    color: white;
}
.tpi-item {
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
}
.tpi-item:hover {
    transform: translateY(-8px);
}
/* Transparent Process - Animation Button */
.tpi-img {
    position: relative;
}


.btn-play {
    position: absolute;
    bottom: 60px;
    right: 43%;
}
.btn-play i {
    background: white;
    color: #E73C3E;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    transition: .5s;
}
.btn-play i:hover {
    background: #E73C3E !important;
    color: white !important;
}
.btn-play::after {
    content: "";
    height: 80px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    background: #E73C3E;
    border-radius: 50%;
    animation: btnplay 1.5s ease-out infinite;
}
@keyframes btnplay {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    25% {
        transform: scale(1.3);
        opacity: .7;
    }
    50% {
        transform: scale(1.7);
        opacity: .5;
    }
    100% {
        transform: scale(2.2);
        opacity: 0;
    }
}



/* Finding Circles */
.funding-left ul::before {
    content: "";
    position: absolute;
    left: 31px;
    top: o;
    background: #E73C3E;
    width: 1px;
    height: 80%;
}
.funding-left ul li {
    position: relative;
    padding-left: 50px;
}
.funding-left ul li::before {
    content: attr(data-fl-steps);
    position: absolute;
    left: -20px;
    top: -5px;
    font-size: larger;
    color: #E73C3E;
    background: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #E73C3E;
    text-align: center;
    border-radius: 50%;
}


.funding-right {
    background: #fdebeb;
}
.funding-right select {
    height: 58px;
    border-radius: 0;
}



/* Call Us */
.call-us i{
    height: 70px;
    width: 70px;
    line-height: 70px;
    background: white;
}
.call-us h1::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #ddd;
    top: 0;
    right: 20px;
}



/* Company Values */
.value-icon {
    display: inline-block;
    width: 80px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: white;
}



/* Loan Tabs */
ul.loan-tab-head {
    border-bottom: 1px solid #ddd;
}
ul.loan-tab-head li {
    flex: 1 1 auto;
}
ul.loan-tab-head span {
    background: white;
    color: #606060;
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
}
ul.loan-tab-head a.active span {
    color: #E73C3E;
    position: relative;
}

.tab-in ul li::before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #E73C3E;
    border-radius: 50%;
    margin-right: 10px;
}



/* Clint Words */
.clint-img span{
    bottom: 13%;
    left: 30%;
    background: white;
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    transition: .5s;
}
.clint-img span:hover {
    color: white;
    background: #E73C3E;
    cursor: pointer;
}



/* Team */
.team-social li {
    display: inline-block;
    transition: .5s ease-in-out;
    transform: translateY(38px);
    opacity: 0;
    visibility: hidden;
}
.team-member:hover .team-social li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.team-social li:nth-child(1) {
    transition-delay: .1s;
}
.team-social li:nth-child(2) {
    transition-delay: .2s;
}
.team-social li:nth-child(3) {
    transition-delay: .3s;
}
.team-social li:nth-child(4) {
    transition-delay: .4s;
}


.team-social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.team-member-img img {
    width: 100%;
    height: auto;
}


.team-social span {
    background: white;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    color: black;
    transition: .5s;
}
.team-social span:hover {
    color: white;
    background: #E73C3E;
}



/* News */
.news-all img {
    width: 100%;
    height: auto;
}
.read-more {
    transition: .5s ease-in-out;
}
.news-all:hover .read-more {
    letter-spacing: 1.2px;
    color: #E73C3E;
}
.news-all a h3 {
    transition: .5s ease-in-out;
}
.news-all a h3:hover {
    color: #E73C3E;
}



/* Footer */
.footer {
    background: black;
}
.footer-style-1 span {
    color: white;
    transition: .5s ease-in-out;
}
.footer-style-1 span:hover {
    color: #E73C3E;
}


.footer-style-2 a {
    transition: .5s ease-in-out;
}
.footer-style-2 a:hover {
    color: #E73C3E !important;
    letter-spacing: 1.2px;
}


.footer-style-3 i {
    display: block;
    height: 40px;
    width: 35px;
}
.footer-style-3 a:hover {
    color: #E73C3E !important;
}


.credit-text a:hover {
    color: #E73C3E !important;
}

/* Code by Ahoshanur Rahman Akash */